<!-- /* File name: product.ejs
 * Student name: Naveen Kanmani Thirunavukkarasu
 * Student ID: 301247248
 * Date: Oct 17, 2022 */ -->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <!-- <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Welcome to the <%= title %> page</h1>
    </div>
  </main> -->
  <body>
    <div class="jumbotron">
      <div style="display: flex; justify-content: space-evenly;">
  <!-- Product 1 -->
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://www.intelligenttransport.com/wp-content/uploads/automation.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Voice controlled Car Automation</h5>
          <p>Role: Team Lead</p>
          <p class="card-text">The car takes the voice command of the user like go, stop, left, right and moves accordingly.</p>
        </div>
      </div>
  <!-- Product 2 -->
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://www.matrixvideosurveillance.com/blog/wp-content/uploads/2020/01/matrix-smart-parking-management-solution.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Feature Extraction and Pattern Recognition in Parking System</h5>
          <p>Role: Team Lead</p>
          <p class="card-text">The camera captures the image of entire car and detects where the number plate is and takes only the number plate. Then using optical character recognition it converts image to text and thats into MS Access for further process.</p>
        </div>
      </div>
  <!-- Product 3 -->
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://i0.wp.com/insightsolutionsglobal.com/wp-content/uploads/2018/12/Picture1-1.png?resize=525%2C370&ssl=1" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">ERP Premier</h5>
          <p>Role: Lead Engineer</p>
          <p class="card-text">Enterprise resource planning (ERP) is a platform companies use to manage and integrate the essential parts of their businesses. Many ERP software applications are critical to companies because they help them implement resource planning by integrating all the processes needed to run their companies with a single system.
            An ERP software system can also integrate planning, purchasing inventory, sales, marketing, finance, human resources, and more.</p>
        </div>
      </div>
    </div>
    </div>
  </body>
  
<%- include partials/bottom_nav.ejs %>  
<%- include partials/footer.ejs %>
  




